{% extends 'base.html.twig' %}

{% block title %} Annonces disponibles {% endblock %}

{% block body %}
<h1>Bienvenue sur AirCNC</h1>
<h2>Annonces</h2>
{% for room in rooms %}
<div class="room_block">
<h3><a href="{{ urls[loop.index0] }}">{{ room.summary }}</a></h3>
</div
{% endfor %}
{% endblock %}