{% extends 'base.html.twig' %}

{% block title %}Réserver - {{ room.summary }}{% endblock %}

{% block body %}
<h1> Confirmer la réservation </h1>
{{ form(form) }}
<h2>Réservations à venir</h2>
<p>Veuillez en tenir compte en posant vos dates.</p>
<ul>
{% for reservation in reservations %}
<li>du {{ reservation.getDateDebut|date("d/m/Y") }} - {{ reservation.getDateFin|date("d/m/Y") }}</li>
{% endfor %}
</ul>
<h2>Périodes d'indisponibilité</h2>


{% endblock %}