{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<h1>Liste des annonces disponibles</h1>

{% if rooms %}
{% for room in rooms %}

<div class="room_block">
    <h2><a href="{{ path('home_room_show', {'id': room.id}) }}">{{ room.summary }}</a></h2>
    <p>{{ room.description }}</p>
</div>

{% endfor %}
{% else %}
<div class="alert alert-warning">
    Il semblerait qu'il n'y ait pas de chambre dispo aujourd'hui... Réessayez demain !
</div>
{% endif %}

{% endblock %}