{% extends 'base.html.twig' %}

{% block title %}{{ room.summary }}{% endblock %}

{% block body %}
<h1>{{ room.summary }}</h1>
<p>{{ room.description }}</p>
<a class="btn btn-success" href="{{ path('home_reservation', {'id': room.id}) }}" role="button">Réserver</a>
{% endblock %}