{% extends 'base.html.twig' %}

{% block title %}Espace propriétaire{% endblock %}

{% block body %}
    <h1>Espace propriétaire</h1>

    {% for room in rooms %}
    <div class="owner-room-block">
        <h1><a href="{{ path('room_show', {'id': room.id}) }}">{{ room.summary }}</a></h1>
    </div>
    {% endfor %}

    {% if not rooms %}
    <div class="alert alert-info">Vous n'avez pas encore de chambre.</div>
    {% endif %}
    <a class="btn btn-primary" role="button" href="{{ path('room_new') }}">Create new</a>
{% endblock %}
