{% extends 'adminbase.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<div class="container-fluid">
    <h4 class="page-title">Couettes et Cafés</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="card widget-flat">
                <div class="card-body">
                    <table class="table table-borderless table-centered mb-0">
                    <tbody>
                    <tr>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <td>Test</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}