<!DOCTYPE html>
<head>
<title>{% block title %} Titre {% endblock %}</title>
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
</head>

<body>
{% block body %}
cc
{% endblock %}
</body>
</html>